/*************************************************************************************************
                                                                        TOP HALF OF PAGE
*************************************************************************************************/
html, body{
    font-family: "Roboto";
    background-color: #F3F8FA;
    font-size: 16px;
}

body{ /*Fix occasional x-axis calculation bug*/
    overflow-x: hidden;
}

#topUI{ /*Set background color, white, for top of page*/
    background-color: #FFFFFF;
    height: auto;
    /*Fix height error with floats*/
    overflow: hidden; 
}

/*Generic classes for commonly used options*/

.italic{
    font-style: italic;
}

.floatLeft{ /*Generic shortcut to float items left*/
    float: left;
}

.floatRight{ /*Generic shortcut to float items right*/
    float: right;
}

.modernBlue{ /*Quick select of Modern Developer blue*/
    color: #74A1E9;
}

.modernGray{ /*Quick select of Modern Developer gray*/
    color: #EFF1F2;
}

/*END Generic Options*/

input { /*Add pencil to inputs, remove border*/
    background-image: url(images/pencil.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 0.75rem;
}

.greyBack{ /*Change Background to gray*/
    background-color: #EFF1F2;
}

/*Selection Box Options*/
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #F4F5F7;
    background-image: url(images/pencil.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 0.75rem;
    border: none;
}

option{
    text-align: center;
}
/*END Select Options*/

.line{ /*Gray line used to separate the divs.  I use a straight, gray line
    and modify the height.  See /images/line.png*/
    display: block;
    position: relative;
    height: 0.125rem;
    width: 100%;
    margin-bottom: 5vh;
}

#topline{
    margin: 0% auto;
    width: 85vw;
     /*Allow padding change without changing background*/
    padding-top: 1%;
}

#gear{ /*top right corner icon*/
    height: 1.25rem;
    margin-left: 0.375rem;
}

#peopleLogo{ /*top left corner icon*/
    height: 1.25rem;
    margin-right: 0.375rem;
}

#collaborate:before{/*Add Blue text "Collaboration"*/
    content: "Collaboration";
    color: #74A1E9;
}

.blockDetails{ /*Frequently used gray text descriptions*/
    display: inline-block;
    width: 100%;
    color: #BCBCBC;
    font-size: 0.75rem;
}

/*Options for Modifiable Room Name Section*/
#roomName{ /*Div options*/
    display: block;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 3vh;
}

#roomName .blockDetails{ /*Modify gray text explanation for this section of site*/
    color: black;
    font-size: 1.188rem;
    font-weight: 300;
}

#roomName input{
    border: none;
    font-size: 1.563rem;
    width: 9.563rem;
    height: auto;
}
/*END Modifiable Room Name Section Options*/

#rolesAndColors{ /*Define total page width of Colors/Roles Divs*/
    display: block;
    width: 80vw;
    margin: 0 auto;
     /*Fixes alignment issue but not sure why auto height isn't work.  Could cause scaling issues down the road*/
    height: 15.63rem;
}

.rcTitles{
    font-size: 1.375rem;
    width: 5.25rem;
}

.addNew{
    width: calc(100% - 5.25rem);
    text-align: right;
}

#addRoles{ /*Define width of Roles div*/
    width: 47.5%;
}

/*Allow user to define ROLES*/
#defineRoles{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 9.375rem;
    box-sizing: border-box;
}

#defineRoles span{ /*Names of people*/
    width: 50%;
    font-size: 0.875rem;
    padding-top: 0.625rem; /*Fixing Text alignment with input*/
}

#defineRoles input{
    font-size: 0.875rem;
    border: none;
    width: 50%;
    padding-top: 0; /*Fixing Text alignment with input*/
}
/*END Options for User Control ROLES div*/

/*define width of colors div*/
#addColors{
    width: 47.5%;
}

#defineColors{
    display: flex;
    width: 100%;
    height: 9.375rem;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
    box-sizing: border-box;
}

#defineColors span{
    width: calc(100% - 5.313rem);
}

#defineColors select{
    width: 5.313rem;
    
}

#defineColors .blockDetails{
    width: 100%;
}

/*************************************************************************************************
                                        BOTTOM HALF OF PAGE
*************************************************************************************************/

#bottomUI{ /*Keep percentages based on device width*/
    width: 100vw;
}

#closeSettings{ /*Display close settings option*/
    color: darkgray;
    display: block;
    text-align: right;
    margin: 0.9375rem 1.25rem 1.875rem 0;
    text-decoration: none;
}

/*---Options that affect BOTH panels---*/

#panelsLocation{ /*Sets panels location on screen, adds bottom margin*/
    display: block;
    width: 85vw;
    height:auto;
    margin: 0 auto;
    margin-bottom: 3.125rem;
    overflow: hidden; /*Fixes float height issue*/
}

.bothPanels{ /*Set height of width of panels and insure they are of equal size*/
    height: 31.25rem;
    width: 47.5%;
    float: left;
    background-color: white;
    /*Fix differences in element border calculations*/
    box-sizing: border-box; 
}



#ruler{ /*Ruler slides between the panels*/
/*HTML uses class "bothPanels" to ensure height
is equal to panels.  Width changed here.*/
    width: 2.5%;
}
/*---END Options for BOTH Panels---*/

/*---Left Panel Options---*/

/*--Tabs Options--*/
/*--Subset of left panel options--*/
.panelTabs{ /*Block that displays panel tabs*/
    display: block;
    height: 10%;
}

.tab{ /*Generic options for all tabs*/
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 50%;
}

.tab a{
    color: black;
    text-decoration: none;
}

#tabActive{ /*Options for the active tab.  There can only be one*/
    display: inline-block;
    background: white;
    border-top: 0.3125rem solid #6C84DC;
    float: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabInactive{ /*Options for the Inactive Tabs*/
    display: inline-block;
    background: #E1E7EB;
    border-top: 0.3125rem solid #E1E7EB;
    float: left;
}

.close{ /*"X" closes an open tab.*/
    float: right;
    margin-right: 0.3125rem;
}

.tab-add a{ /*Options to add an additional tab*/
    margin-right: 0.3125rem;
    float: right;
    color: #6C84DC;
    text-decoration: none;
}
/*--End Tab options--*/


.panelBody{ 
    background: white;
    overflow-y: scroll;
    height: 62%;
}

.commentBox{
    margin: 0.625rem 0.625rem;
}

img.user{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 2.813rem;
    vertical-align: top;
    width: 2.813rem;
    margin-right: 1rem;
}

/*.commentBox img.nose{---Doesn't seem to do anything right now---
    color: #DD77CB;;
    margin-right: -8px;
    margin-top: 10px;
    position: relative;
    vertical-align: top;
    width: 12px;
}*/

.comment{
    background: #DD77CB;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    width: 70%;
}

.header{
    margin-top: 0.3125rem;
    padding:  0.625rem;
}

.userName{
    display: inline;
    font-weight: 400;
}

.time{
    color: #BCBCBC;
    float: right;
    font-size: 0.8125rem;
    margin-right: 0.625rem;
}

.message{
    margin: 0 auto;
    width: 90%;
}

.message p{
    font-size: 0.875rem;
    line-height: 150%;
    margin: 0;
}

.panelChat{
    background: white;
    border-top: 0.0625rem solid darkgray;
    height: 28%;
}

#chatbox{
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 80%;
    width: 100%;
}

#chatbox textarea{
    width: 65%;
    height: 100%;
    border: none;
    background-color: #F7F7F7;
    border-radius: 5px;
}

.sendMessage{
    position: absolute;
    float: right;
    background: #6C84DC;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    border:none;
    color: white;
    padding: 0.9375rem;
    width: calc(35% - 5rem);
    bottom: 0;
    right: 0;
    margin-right: .42rem;
}

.sendMessage:active{
    position: absolute;
    right: 0;
    bottom: -2px;
    overflow: visible;
}
/*---END left panel Options---*/

/*---Right Panel Options---*/
#rightPanel{;
    border: none;
    background-image: none;
    resize: none;
}



/*OLD CODE*/

/*
#chatbox{
    height: 22%;
    position: absolute;
    bottom: 0;
    width: 47.5%;
    border-top: 1px solid #F8F8F8;
}

#nose{
    height: 40%;
    width: 12px;
    position: relative;
    margin-top: 3%;
    margin-left: 1%;
}