html, body{
    font-family: "Roboto";
    background-color: #F3F8FA;
}

body{
    overflow-x: hidden;
}

#topUI{
    background-color: #FFFFFF;
    height: auto;
}

/*Generic classes for commonly used options*/
.italic{
    font-style: italic;
}

.floatLeft{ /*Generic shortcut to float items left*/
    float: left;
}

.floatRight{ /*Generic shortcut to float items right*/
    float: right;
}

.modernBlue{ /*Quick select of Modern Developer blue*/
    color: #74A1E9;
}

.modernGray{ /*Quick select of Modern Developer gray*/
    color: #EFF1F2;
}

/*END Generic Options*/

input { /*Add pencil to inputs, remove border*/
    background-image: url(images/pencil.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 12px;
}

.greyBack{ /*Change Background to gray*/
    background-color: #EFF1F2;
}

/*Selection Box Options*/
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #F4F5F7;
    background-image: url(images/pencil.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 12px;
    border: none;
}

option{
    text-align: center;
}
/*END Select Options*/

.line{ /*Gray line used to seperate the divs.  I use a straight, gray line
    and modify the height.  See /images/line.png*/
    display: block;
    position: relative;
    height: 2px;
    width: 100%;
    margin-bottom: 5vh;
}

#topline{
    margin: 0% auto;
    width: 85vw;
     /*Allow padding change without changing background*/
    padding-top: 1%;
}

#gear{ /*top right corner icon*/
    height: 20px;
    margin-left: 6px;
}

#peopleLogo{ /*top left corner icon*/
    height: 20px;
    margin-right: 6px;
}

#collaborate:before{/*Add Blue text "Collaboration"*/
    content: "Collaboration";
    color: #74A1E9;
}

.blockDetails{ /*Frequently used gray text descriptions*/
    display: inline-block;
    width: 100%;
    color: #BCBCBC;
    font-size: 12px;
}

/*Options for Modifiable Room Name Section*/
#roomName{ /*Div options*/
    display: block;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 3vh;
}

#roomName .blockDetails{
    color: black;
    font-size: 19px;
    font-weight: 300;
}

#roomName input{
    border: none;
    font-size: 25px;
    width: 153px;
    height: auto;
}
/*END Modifiable Room Name Section Options*/

#rolesAndColors{ /*Define total page width of Colors/Roles Divs*/
    display: block;
    width: 80vw;
    margin: 0 auto;
     /*Fixes alignment issue but not sure why auto height isn't work.  Could cause scaling issues down the road*/
    height: 250px;
}

.rcTitles{
    font-size: 22px;
    width: 84px;
}

.addNew{
    width: calc(100% - 84px);
    text-align: right;
}

#addRoles{ /*Define width of Roles div*/
    width: 47.5%;
}

/*Allow user to define ROLES*/
#defineRoles{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 150px;
}

#defineRoles span{ /*Names of people*/
    width: 50%;
    font-size: 14px;
    padding-top: 10px; /*Fixing Text alignment with input*/
}

#defineRoles input{
    font-size: 14px;
    border: none;
    width: 50%;
    padding-top: 0; /*Fixing Text alignment with input*/
}
/*END Options for User Control ROLES div*/

/*define width of colors div*/
#addColors{
    width: 47.5%;
}

#defineColors{
    display: flex;
    width: 100%;
    height: 150px;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

#defineColors span{
    width: calc(100% - 85px);
}

#defineColors select{
    width: 85px;
    
}

#defineColors .blockDetails{
    width: 100%;
}

/*BOTTOM HALF OF PAGE*/

#bottomUI{ /*Keep percentages based on device width*/
    width: 100vw;
}

#closeSettings{ /*Display close settings option*/
    color: darkgray;
    display: block;
    text-align: right;
    margin: 15px 20px 30px 0;
    text-decoration: none;
}

/*---Options that affect BOTH panels---*/

#panelsLocation{ /*Sets panels location on screen, adds bottom margin*/
    display: block;
    position: relative;
    width: 85vw;
    margin: 0 auto;
    background-color: #FFFFFF;
    margin-bottom: 50px;
}

.bothPanels{ /*Set height of width of panels and insure they are of equal size*/
    height: 450px;
    width: 47.5%;
}

#ruler{ /*Ruler slides between the panels*/
    height: 100%;
    width: 4.3%;
}
/*---END Options for BOTH Panels---*/

/*---Left Panel Options---*/

/*--Tabs Options--*/
/*--Subset of left panel options--*/
.panelTabs{ /*Block that displays panel tabs*/
    display: block;
    height: 10%;
}

.tab{ /*Generic options for all tabs*/
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 50%;
}

#tabActive{ /*Options for the active tab.  There can only be one*/
    display: inline-block;
    background: white;
    border-top: 5px solid #6C84DC;
    float: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabInactive{ /*Options for the Inactive Tabs*/
    display: inline-block;
    background: #E1E7EB;
    border-top: 5px solid #E1E7EB;
    float: left;
}

.close{ /*"X" closes an open tab.*/
    float: right;
    margin-right: 5px;
}

.tab-add a{ /*Options to add an additional tab*/
    margin-right: 5px;
    float: right;
    color: #6C84DC;
    text-decoration: none;
}
/*--End Tab options--*/


.panelBody{ 
    background: white;
    overflow-y: scroll;
    height: 62%;
}

.panelBody .commentLeft{
    float: left;
}

.panelBody .commentRight{
    float: right;
}

.chatbox{
    margin: 10px 10px;
}

.commentBox{
    margin: 10px 10px;
}

img.user{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 45px;
    vertical-align: top;
    width: 45px;
}

.commentRight .commentBox img.user{
    float: right;
}

/*.commentLeft .commentBox img.nose{---Doesn't seem to do anything right now---
    color: #DD77CB;;
    margin-right: -8px;
    margin-top: 10px;
    position: relative;
    vertical-align: top;
    width: 12px;
}*/

.comment{
    background: #DD77CB;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    width: 70%;
}

.panelBody .commentRight .commentBox .comment{
    float: right;
}

.header{
    margin-top: 5px;
    padding: 10px;
}

.userName{
    display: inline;
    font-weight: 400;
}

.time{
    color: #BCBCBC;
    float: right;
    font-size: 13px;
    margin-right: 10px;
}

.message{
    margin: 0 auto;
    width: 90%;
}

.message p{
    font-size: 14px;
    line-height: 150%;
    margin: 0;
}

.panelChat{
    background: white;
    border-top:1px solid darkgray;
    height: 28%;
}

.chatbox{
    display: inline-block;
    margin-right:0;
    width: 65%;
}

.chatbox img{
    float: left;
}

.chatbox textarea{
    height:80px;
    width:100%;
}

.sendMessage{
    display: inline-block;
}

.sendMessage button{
    display: inline-block;
    position: relative;
    float: left;
    background: #6C84DC;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    border:none;
    color: white;
    padding: 15px;
    width:120px;
    left: 10px;
}

.sendMessage button:active{
    position: relative;
    top: 2px;
}
/*---END left panel Options---*/

/*---Right Panel Options---*/
#rightPanel{
    border: none;
    padding: none;
    margin: none;
    background-image: none;
}


/*OLD CODE*/

/*
#chatbox{
    height: 22%;
    position: absolute;
    bottom: 0;
    width: 47.5%;
    border-top: 1px solid #F8F8F8;
}

#nose{
    height: 40%;
    width: 12px;
    position: relative;
    margin-top: 3%;
    margin-left: 1%;
}