html, body{
    font-family: "Roboto";
    background-color: #F3F8FA;
}

#topBackGround{
    background-color: #FFFFFF;
}

/*Generic classes for commonly used options*/
.italic{
    font-style: italic;
}

.floatLeft{ /*Generic shortcut to float items left*/
    float: left;
}

.floatRight{ /*Generic shortcut to float items right*/
    float: right;
}

.modernBlue{ /*Quick select of Modern Developer blue*/
    color: #74A1E9;
}

.modernGray{ /*Quick select of Modern Developer gray*/
    color: #EFF1F2;
}

/*END Generic Options*/

input { /*Add pencil to inputs, remove border*/
    background-image: url(images/pencil.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 12px;
}

.greyBack{ /*Change Background to gray*/
    background-color: #EFF1F2;
}

/*Selection Box Options*/
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #F4F5F7;
    background-image: url(images/pencil.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 12px;
    border: none;
}

option{
    text-align: center;
}
/*END Select Options*/

.line{ /*Gray line used to seperate the divs.  I use a straight, gray line
    and modify the height.  See /images/line.png*/
    display: block;
    position: relative;
    height: 2px;
    width: 100%;
    margin-bottom: 5vh;
}

#topline{
    margin: 0% auto;
    width: 85vw;
     /*Allow padding change without changing background*/
    padding-top: 1%;
}

#gear{ /*top right corner icon*/
    height: 20px;
    margin-left: 6px;
}

#peopleLogo{ /*top left corner icon*/
    height: 20px;
    margin-right: 6px;
}

#collaborate:before{/*Add Blue text "Collaboration"*/
    content: "Collaboration";
    color: #74A1E9;
}

.blockDetails{ /*Frequently used gray text descriptions*/
    display: inline-block;
    width: 100%;
    color: #BCBCBC;
    font-size: 12px;
}

/*Options for Modifiable Room Name Section*/
#roomName{ /*Div options*/
    display: block;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 3vh;
}

#roomName .blockDetails{
    color: black;
    font-size: 19px;
    font-weight: 300;
}

#roomName input{
    border: none;
    font-size: 25px;
    width: 153px;
    height: auto;
}
/*END Modifiable Room Name Section Options*/

#rolesAndColors{ /*Define total page width of Colors/Roles Divs*/
    display: block;
    width: 80vw;
    margin: 0 auto;
     /*Fixes alignment issue but not sure why auto height isn't work.  Could cause scaling issues down the road*/
    height: 250px;
}

.rcTitles{
    font-size: 22px;
    width: 84px;
}

.addNew{
    width: calc(100% - 84px);
    text-align: right;
}

#addRoles{ /*Define width of Roles div*/
    width: 47.5%;
}

/*Allow user to define ROLES*/
#defineRoles{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 150px;
}

#defineRoles span{ /*Names of people*/
    width: 50%;
    font-size: 14px;
    padding-top: 10px; /*Fixing Text alignment with input*/
}

#defineRoles input{
    font-size: 14px;
    border: none;
    width: 50%;
    padding-top: 0; /*Fixing Text alignment with input*/
}
/*END Options for User Control ROLES div*/

/*define width of colors div*/
#addColors{
    width: 47.5%;
}

#defineColors{
    display: flex;
    width: 100%;
    height: 150px;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

#defineColors span{
    width: calc(100% - 85px);
}

#defineColors select{
    width: 85px;
    
}

#defineColors .blockDetails{
    width: 100%;
}

/*BOTTOM HALF OF PAGE*/

.closeSettings{
    color: darkgray;
    display: block;
    text-align: right;
    margin: 15px 20px 30px 0;
    text-decoration: none;
}

.bottomUI{ /*Allow change in background color*/
    background-color: #F3F8FA;
    height: 60vh;
}

.panels{
    height: 75%;
    width: 90%;
    margin: 0 auto;
}

.leftPanel, .rightPanel{
    height:auto;
    width: 50%;
}

.panelTabs .tab{
    border-top: 2px solid #6C84DC;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    width: 25%;
}

.panelTabs .active{
    background: white;
}

.panelTabs .inactive{
    background: darkgray;
}

.panelTabs .tab span.tab-name{
    text-align: center;
}

.panelTabs .tab span.close{
    float: right;
    margin-right: 5px;
}

.panelTabs .tab-add{
    float: right;
    margin-right: 5px;
}

.panelTabs .tab-add a{
    color: #6C84DC;
    text-decoration: none;
}

.panelBody{
    background: white;
    overflow: hidden;
}

.panelBody .commentLeft{
    float: left;
}

.panelBody .commentRight{
    float: right;
}

.panelBody .commentLeft .commentBox,
.panelBody .commentRight .commentBox,
.panelChat .chatbox{
    margin: 10px 10px;
}

.panelBody .commentRight .commentBox{
    overflow: hidden;
}

.panelBody .commentLeft .commentBox img.user,
.panelBody .commentRight .commentBox img.user,
.panelChat .chatbox img.user{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 45px;
    vertical-align: top;
    width: 45px;
}

.panelBody .commentRight .commentBox img.user{
    float: right;
}

.panelBody .commentLeft .commentBox img.nose{
    color: #DD77CB;;
    margin-right: -8px;
    margin-top: 10px;
    position: relative;
    vertical-align: top;
    width: 12px;
}

.panelBody .commentLeft .commentBox .comment,
.panelBody .commentRight .commentBox .comment{
    background: #DD77CB;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    width: 70%;
}

.panelBody .commentRight .commentBox .comment{
    float: right;
}

.panelBody .commentLeft .commentBox .comment .header,
.panelBody .commentRight .commentBox .comment .header{
    margin-top: 5px;
    padding: 10px;
}

.panelBody .commentLeft .commentBox .comment .header .userName,
.panelBody .commentRight .commentBox .comment .header .userName{
    display: inline;
    font-weight: 400;
}

.panelBody .commentLeft .commentBox .comment .header .time,
.panelBody .commentRight .commentBox .comment .header .time{
    color: #BCBCBC;
    float: right;
    font-size: 13px;
    margin-right: 10px;
}

.panelBody .commentLeft .commentBox .comment .message,
.panelBody .commentRight .commentBox .comment .message{
    margin: 0 auto;
    width: 90%;
}

.panelBody .commentLeft .commentBox .comment .message p,
.panelBody .commentRight .commentBox .comment .message p{
    font-size: 14px;
    line-height: 150%;
    margin: 0;
}

.panelChat{
    background: white;
    border-top:1px solid darkgray;
    overflow: hidden;
}

.panelChat .chatbox{
    display: inline-block;
    margin-right:0;
    width: 65%;
}

.panelChat .chatbox textarea{
    height:80px;
    width:100%;
}

.panelChat .sendMessage{
    display: inline-block;
}
.panelChat .sendMessage button{
    background: #6C84DC;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    border:none;
    color: white;
    padding: 15px;
    width:120px;
}

/*
.bothPanels{
    background-color: #FFFFFF;
    width: 47.5%;
    height: 100%;
}

#bottomUI  > span{
    display: block;
    width: 85vw;
    margin: 0 auto;
    text-align: right;
}

#chatbox{
    height: 22%;
    position: absolute;
    bottom: 0;
    width: 47.5%;
    border-top: 1px solid #F8F8F8;
}

#user{
    position: relative;
    height: 70%;
    margin-top: 2%;
    margin-left: 2%;
}

#chatbox > input[type=text]{
    border: none;
    background-color: #F8F8F8;
    width: 70%;
    height: 70%;
    position: relative;
    margin-top: 2%;
    margin-left: -1.3%;
}

#nose{
    height: 40%;
    width: 12px;
    position: relative;
    margin-top: 3%;
    margin-left: 1%;
}

#chatbox > input[type=submit]{
    position: absolute;
    background-image: none;
    background-color: #759CEE;
    width: 13%;
    bottom: 10%;
    right: 1%;
    border-radius: 3px;
}*/